@font-face{
    font-family: 'cherolina';
    src: url('/fonts/Cherolina.ttf');  
    
}
h3{
    font-family: cherolina;
}


@font-face{
    font-family: 'caviardreams';
    src: url('/fonts/CaviarDreams.ttf');
}
p, a{
    font-family: caviardreams;
}

:root {
    --swiper-theme-color: #144bab;

    
}

header{
    background: linear-gradient(180deg, rgba(226, 227, 230,0.9) 30%, rgba(0,0,0,0) 100%);
}

.scroll-bg{
    background: #e2e3e6;
}
.bg-hero{
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0) 100%);
}

#promotional {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7) 100%,
            rgba(0, 0, 0, 0.4) 100%
        ),
        url(images/puntamita.webp);
    background-size: cover;
    background-position: center;
}

.gradient-bg {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0) 100%
    );
}