@font-face{
    font-family: 'cherolina';
    src: url('/fonts/Cherolina.ttf');  
    
}
h3{
    font-family: cherolina;
}


@font-face{
    font-family: 'caviardreams';
    src: url('/fonts/CaviarDreams.ttf');
}
p, a, li{
    font-family: caviardreams;
    letter-spacing: 2.5px;
}

:root {
    --swiper-theme-color: #144bab;
}

header{
    background: linear-gradient(180deg, rgba(226, 227, 230,0.9) 30%, rgba(0,0,0,0) 100%);
}

.scroll-bg{
    background: #e2e3e6;
}
.bg-hero{
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0) 100%);
}

#promotional {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7) 100%,
            rgba(0, 0, 0, 0.4) 100%
        ),
        url(images/puntamita.webp);
    background-size: cover;
    background-position: center;
}
#promotional-2 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.8) 100%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        url(images/amenities/gallery-22.webp);
    background-size: cover;
    background-position: center;
}

.gradient-bg {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0) 100%
    );
}

.mySwiper3 .swiper-slide::after{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #000, #00000060);
    opacity: .2;  
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}