---
import LastBlogs from "../components/LastBlogs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title=" Your Family Oasis in the Heart of the Riviera Nayarit">
	<div class=" w-full mx-auto">
		<div class="">
			<img src="images/gallery-23.webp" alt="" class="w-full lg:h-[70vh] h-50vh object-cover mb-10" />
		</div>
		<div class="container w-11/12 max-w-[1100px] mx-auto lg:mt-20 mt-12">
			<div class="title text-center max-w-[900px] mx-auto">
				<h1 class="text-5xl font-bold mb-6 text-[#144bab]"> Your Family Oasis in the Heart of the Riviera Nayarit</h1>
				<hr />
			</div>
			<div class="pt-10 tracking-wide text-lg font-light text-justify lg:mx-16 mx-auto">
				<p>Located in the heart of the spectacular <strong class="font-bold">Punta Mita </strong>is a unique destination that 
                    combines luxury, natural beauty and exciting adventures. At <strong class="font-bold">Condo La Familia,</strong> 
                    we have prepared the perfect place for you and your family to  enjoy an unforgettable 
                    vacation: our 3+ bedroom condos.
				</p>

				<h2 class="my-6 font-bold text-3xl text-[#144bab] text-left">The Condominium of your Dreams in Punta de Mita</h2>
				<p>Our condos are much more than just places to stay; they are your <strong class="font-bold">family</strong> retreat in the paradise 
                    of <strong class="font-bold">Punta  Mita</strong>. With spacious rooms and a cozy atmosphere, we provide everything you need to 
                    make your vacation more than enjoyable.
				</p>
                <h2 class="my-6 font-bold text-3xl text-[#144bab] text-left">Exclusive Services with Property Rentals</h2>
                <p>At Property Rentals, we provide ourselves in offering an unparalleled experience. These are the services you can enjoy:
                    <ul class="ml-12 mt-3">
                        <li class="list-disc mb-2">
                            <strong>Personalized Condo Orientation Tour:</strong> We will guide you through the facilities to 
                            make you feel at home from day one.
                        </li>
                        <li class="list-disc mb-2">
                            <strong>Preferred Tee Times and Special Green Fee Rate:</strong> Golf enthusiasts will appreciate our exclusive
                             perks at nearby golf courses.
                        </li>
                        <li class="list-disc mb-2">
                            <strong>Beach Club Entrance:</strong> Relax on the private beach and enjoy all the amenities of our exclusive beach club.
                        </li>
                        <li class="list-disc mb-2">
                            <strong>Residential Concierge:</strong> Our team is available to assist you with itinerary planning, airport pick-up and drop-off, 
                            spa services, childcare, car rental and restaurant reservations and exciting excursions.
                        </li>
                    </ul>
                </p>
                <h2 class="my-6 font-bold text-3xl text-[#144bab] text-left">Explore the Riviera Nayarit with your Family</h2>
                <p class="mb-6"><strong class="font-bold">The Riviera Nayarit</strong> is an undiscovered paradise. With white sand beaches, exciting activities 
                    and rich local cuisine, there is something for every member of the family. Whether you 
                    like surfing, snorkeling or just relaxing in the sun, <strong class="font-bold">Punta Mita</strong> has everything you need.
                </p>
                <p>
                    After a day of adventure, our condos are the perfect place to relax and recharge. 
                    With first class facilities and exceptional services, we assure you that your 
                    vacation in <strong class="font-bold">Punta Mita</strong> will be unforgettable.
                </p>
			</div>
		</div>
	</div>


	<!-- otros blogs -->
	<LastBlogs />

	<!-- contact -->
	<section class="lg:my-32 my-12 container w-11/12 mx-auto" id="contacto">
		<div class="flex gap-5 flex-col md:flex-row">
			<div class="md:w-1/3 text-center md:text-left">
				<h2 class="text-[#144bab] font-bold text-5xl mb-6">Contact</h2>
				<p class="text-xl">
					Do you have any question? Send us a message and we will
					contact you
				</p>
				<ul class="text-xl flex gap-4 flex-col mt-5 mb-12">
					<p class="font-bold">Owner: Ricardo</p>
					<a href="tel:+523222940241">
						<li>
							<i class="fa-solid fa-phone text-[#144bab] text-2xl"></i> +52 322 294 0241
						</li>
					</a>
					<p class="font-bold">
						Property Manager / Administrador
					</p>
					<a href="tel:+523221175716">
						<li>
							<i class="fa-solid fa-phone text-[#144bab] text-2xl"></i> +52 322 117 5716
						</li>
					</a>
				</ul>
			</div>
			<div class="md:w-2/3">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d59690.27877457118!2d-105.4927425!3d20.7652824!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjDCsDQ2JzIyLjIiTiAxMDXCsDMxJzMxLjEiVw!5e0!3m2!1sen!2smx!4v1697844014495!5m2!1sen!2smx"
					width="100%"
					height="450"
					style="border:0;"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade">
				</iframe>
			</div>
		</div>
	</section>
</Layout>