---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro'
---

<Layout title="Condo La Familia">
	<main>
		<Banner />

		<!-- NOSOTROS -->
		<section class="container w-11/12 mx-auto lg:py-32 py-12" id="nosotros">
			<div class="flex flex-wrap justify-center sm:flex-nowrap gap-10 flex-col-reverse sm:flex-row">
				<div class="sm:w-1/2">
					<img class="w-full lg:h-[80vh] h-[50vh] object-cover object-center"
					src="images/rental-condos-las-terrazas-punta-mita.webp"/>
				</div>
				<div class="sm:w-1/2 my-auto">
					<h1 class="text-center text-[#144bab] font-bold text-5xl uppercase mb-10">
						Condo <br> <span class="font-[cherolina] normal-case font-light text-7xl"> La Familia </span>
					</h1>
					<p class="tracking-wide text-lg font-light text-justify lg:mx-16 mx-auto">
						Nested in the heart of Punta Mita, this complete and
						spacious 3 + bedroom unit is everything you need for a
						more that pleasant family vacation at this unique
						destination. <br /><br />
						
						Las Terrazas Golf has only 6 units, is the premier building
						on the complex. Its location offers infinity golf views. The
						condo is fully equipped to make you feel like home.
						Includes Golf Cart for 6 people and housekeeping daily.
						<br /><br />		
					</p>	
				</div>
			</div>
		</section>


		<!-- Las terrazas -->
		<section class="container w-11/12 mx-auto">
			<div class="flex flex-wrap justify-center sm:flex-nowrap gap-10 flex-col sm:flex-row">
				<div class="sm:w-1/3 text-center my-auto">
					<h1 class="mb-1 text-3xl lg:text-4xl font-bold text-[#144bab]">Las Terrazas, Punta Mita</h1>
					<div class="w-full bg-black h-px my-6"></div>
					<div class="text-black flex-row text-lg font-light">
						<p class="py-1">Regular season $650 usd + Tax.</p>
						<p class="py-1">New Years $1,500 usd + Tax.</p>
						<div class="lg:pl-32 pl-24 my-6">
							<div class="flex gap-6 py-3">
								<i class="fa-solid fa-bed text-[#144bab] text-3xl"></i>
								<p>3 + Bedrooms</p>
							</div>
							<div class="flex gap-6 py-3">
								<i class="fa-solid fa-bath text-[#144bab] text-3xl"></i>
								<p>4.5 Bathrooms</p>
							</div>
							<div class="flex gap-6 py-3">
								<i class="fa-solid fa-user text-[#144bab] text-3xl"></i>
								<p>8 Guests</p>
							</div>
							<div class="flex gap-6 py-3">
								<i class="fa-solid fa-moon text-[#144bab] text-3xl"></i>
								<p>5 Nights Min Stay</p>
							</div>
							<div class="flex gap-6 py-3">
								<i class="fa-solid fa-ruler-combined text-[#144bab] text-3xl"></i>
								<p>2,850 sq. ft.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="sm:w-2/3">
					<img class="w-full lg:h-[80vh] h-[50vh] object-cover object-center" src="images/P30-terrazas-30.webp" >
				</div>
			</div>
		</section>

		<!-- Available services -->
		<section class="w-full lg:my-32 my-12 h-[400px] flex justify-center items-center" id="promotional">
			<h4 class="text-2xl lg:text-3xl text-white text-center font-bold lg:w-[60vw] w-[70vw]">
				Available services with Property Rentals <br>
				<p class="lg:text-lg text-base font-light pt-6">
					Personalized condo orientation tour | Preferential tee times and special green fee rate |
					Beach Club entrance | <br>
					Residential Concierge Services: Pre-arrival itinerary planning, Airport pick up and drop 
					off, in house spa services,	babysitter services, car rental arrangements, restaurant and
					tours reservations.
				</p>
			</h4>
		</section>


		<!-- Features & Amenitites -->
		<section class="container w-11/12 mx-auto">
			<div class="flex flex-wrap justify-center sm:flex-nowrap gap-10 flex-col-reverse sm:flex-row">
				<div class="sm:w-1/2">
					<img class="w-full lg:h-[80vh] h-[50vh] object-cover object-center"
					src="images/20140826-5Z8A9545.webp"/>
				</div>
				<div class="sm:w-1/2 my-auto">
					<h1 class="text-center text-[#144bab] font-bold text-5xl uppercase mb-10 ">
						Features<br> <span class="font-[cherolina] normal-case text-7xl font-light">& Amenitites </span>
					</h1>
					<div class="text-center text-xl mt-5 mb-5 ">
						<div class="grid lg:grid-cols-3 grid-cols-2 justify-content-center gap-12">
							<div>
								<img class="mx-auto" width="50" height="50" src="https://img.icons8.com/ios-filled/50/146ebe/golf.png" alt="golf"/>
								<p class="mt-3">Golf Membership</p>
							</div>
							<div>
								<img class="mx-auto" width="50" height="50" src="https://img.icons8.com/ios-glyphs/50/146ebe/air-conditioner.png" alt="air-conditioner"/>
								<p class="mt-3">Air Conditioner</p>
							</div>
							<div class="">
								<img class="mx-auto" width="50" height="50" src="https://img.icons8.com/ios-filled/50/146ebe/golf-cart.png" alt="golf-cart"/>
								<p>Golf Car</p>
							</div>
							<div>
								<img class="mx-auto" width="50" height="50" src="https://img.icons8.com/ios-filled/50/146ebe/tv.png" alt="tv"/>
								<p class="mt-3">TV</p>
							</div>
							<div>
								<img class="mx-auto" width="50" height="50" src="https://img.icons8.com/ios-filled/50/146ebe/wifi--v1.png" alt="wifi--v1"/>
								<p class="mt-3">Wifi</p>
							</div>
							<div>
								<img  class="mx-auto"width="50" height="50" src="https://img.icons8.com/ios-glyphs/50/146ebe/beach.png" alt="beach"/>
								<p class="mt-3">Beach Club</p>
							</div>
							<div>
								<img class="mx-auto" width="50" height="50" src="https://img.icons8.com/ios-filled/50/146ebe/golf-ball.png" alt="golf-ball"/>
								<p class="mt-3">Golf Views</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Gallery -->
		<section class="lg:my-32 my-12 container w-11/12 mx-auto">
			<h3 class="text-[#144bab] font-bold text-7xl mb-10">Gallery</h3>
			<div class="grid grid-cols-3 gap-6">
				<img src="images/gallery-1.webp" alt="">
				<img src="images/gallery-2.webp" alt="">
				<img src="images/gallery-6.webp" alt="">
				<img src="images/gallery-7.webp" alt="">
				<img src="images/gallery-8.webp" alt="">
				<img src="images/condo-las-terrazas-punta-mita.webp" alt="">
				<img src="images/terrazas-2_109.webp" alt="">
				<img src="images/Kupuri+Swings.webp" alt="">
				<img src="images/P30-terrazas-59.webp" alt="">
			</div>
		</section>


		<!-- Ubicacion -->
		<section class="container w-11/12 mx-auto">
			<div>
				<h3 class="text-[#144bab] font-bold text-7xl mb-10 text-center">Locations</h3>
				<img class="w-full" src="images/Location.webp"/>
			</div>
		</section>


		<section class="lg:my-32 my-12 container w-11/12 mx-auto">
		<div class=" flex gap-5 flex-col md:flex-row" >
			<div class="md:w-1/3 text-center md:text-left">
				<h3 class="text-[#144bab] font-bold text-7xl mb-6">Contact</h3>
				<p class="text-xl">Do you have any question? Send us a message and we will contact you</p>
				<ul class="text-xl flex gap-4 flex-col mt-5 mb-12">
					<a href=""><li><i class="fa-brands fa-whatsapp text-[#144bab]  text-2xl"></i> +52 322 229 21 24</li></a>
					<a href=""><li><i class="fa-brands fa-facebook text-[#144bab] text-2xl"></i> Bahía Connect</li></a>
					<a href=""><li><i class="fa-brands fa-instagram text-[#144bab]  text-2xl"></i> @Bahiaconnect</li></a>
					<a href=""><li><i class="fa-solid fa-envelope text-[#144bab]  text-2xl"></i> info@bahiaconnect.com</li></a>
					<a href=""><li><i class="fa-solid fa-location-dot text-[#144bab]  text-2xl"></i> Bahía Connect</li></a>
				</ul>
			</div>
			<div class="md:w-2/3">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238659.6391124883!2d-105.4131973539444!3d20.829410239438477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8421386a056a890d%3A0x5d14aea31404e637!2sBah%C3%ADa%20de%20Banderas%2C%20Nay.!5e0!3m2!1ses-419!2smx!4v1697568066497!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>

	</main>
</Layout>

<style>
	#promotional {
        background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.4)100%), url(images/20140826-5Z8A9561.webp);
        background-size: cover;
        background-position: center;
    }

    .gradient-bg {
        background: rgb(0, 0, 0);
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0) 50%);
    }
</style>