---
---

<!-- banner -->
<div class="relative h-screen">
    <img src="images/rental-condos-las-terrazas-punta-mita.webp" class="h-[100vh] w-full object-cover ">
    <div class="absolute top-0 bottom-0 left-0 right-0 flex items-end px-6 py-20 lg:p-20 gradient-bg">
        <div class="mx-auto w-11/12  max-w-screen-xl text-center lg:text-left">
            <a href="tel:+523222940241" class="text-white border border-2 py-3 px-6 text-xl font-bold bg-[#144bab] hover:bg-white hover:text-[#144bab]"><i class="fa-regular fa-calendar px-1"></i> BOOK</a>
        </div>
    </div>
</div>