---
---

<!-- banner -->
<div class="relative h-screen">
    <img src="images/rental-condos-las-terrazas-punta-mita.webp" class="h-[100vh] w-full object-cover ">
    <div class="absolute top-0 bottom-0 left-0 right-0 flex items-end px-6 py-20 lg:p-20 gradient-bg">
        <div class="mx-auto w-11/12  max-w-screen-xl text-center lg:text-left">
            <h2 class="text-5xl lg:text-6xl uppercase text-white mb-8 font-semibold">A Spacious Condo, <br> <span class="font-[cherolina] capitalize text-6xl lg:text-[5.2rem] font-light">in the heart of Punta Mita.</span></h2>
            <a href="https://wa.me/523222940241?text=Hola,%20estoy%20interesado%20en%20reservar%20condo%20la%20familia" target="_blank" class="text-white border-2 py-3 px-6 text-xl font-bold bg-[#144bab] hover:bg-white hover:text-[#144bab]"><i class="fa-regular fa-calendar px-1"></i> RESERVE</a>
        </div>
    </div>
</div>