---

---

<header class="pt-8 pb-8 fixed w-full z-20" id="header">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-10 items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12 ">
                <a class="block" href="/">
                    <img class="h-20" src="images/condo.png" alt="Logo Condo La Familia">
                </a>
            </div>
            <div class="md:flex md:items-center md:gap-12">
                <nav class="hidden md:block">
                    <ul class="flex gap-6 items-center uppercase text-lg ">
                        <li>
                            <a class="text-[#144bab] transition hover:text-[#5375b7]" href="/">Home</a>
                        </li>
                        <li>
                            <a class="text-[#144bab] transition hover:text-[#5375b7]" href="#nosotros">About</a>
                        </li>
                        <li>
                            <a class="text-[#144bab] transition hover:text-[#5375b7]" href="#gallery">Gallery</a>
                        </li>
                        <li>
                            <a class="text-[#144bab] transition hover:text-[#5375b7]" href="#contacto">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="md:hidden text-[#144bab] text-2xl" id="btnMenu">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <nav id="menu" class="hidden h-screen items-center bg-[#e2e3e6] mt-[-75px]">
        <ul class="flex gap-6 uppercase text-xl flex-col justify-center items-center">
            <li>
                <a class="text-[#144bab] transition hover:text-[#5375b7]" href="/">Home</a>
            </li>
            <li>
                <a class="text-[#144bab] transition hover:text-[#5375b7]" href="#nosotros">About</a>
            </li>
            <li>
                <a class="text-[#144bab] transition hover:text-[#5375b7]" href="#gallery">Gallery</a>
            </li>
            <li>
                <a class="text-[#144bab] transition hover:text-[#5375b7]" href="#contacto">Contact</a>
            </li>
            <li>
                <a class="text-[#144bab] transition hover:text-[#5375b7] text-2xl" href="tel:+523222940241"><i class="fa-solid fa-phone"></i></a>
            </li>
            <li>
                <a class="text-[#144bab] transition hover:text-[#5375b7] text-2xl" href="https://wa.me/523222940241?text=Hola,%20estoy%20interesado%20en%20reservar%20condo%20la%20familia" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            </li>
        </ul>
    </nav>
</header>


