---
---
<div class="fixed left-1 bottom-4 md:left-8 md:bottom-8 w-full z-10 hidden" id="whatsapp"> 
    <a href="https://wa.me/523222940241?text=Hola,%20estoy%20interesado%20en%20reservar%20condo%20la%20familia" target="_blank" class="text-white border border-2 py-3 px-6 text-xl font-bold bg-[#144bab] hover:bg-white hover:text-[#144bab]"><i class="fa-regular fa-calendar px-1"></i> RESERVE</a>
</div>


<script>
    const whatsappButton = document.querySelector('#whatsapp')
    
    window.addEventListener("scroll", () => {
        if(window.scrollY > 720){
            whatsappButton.classList.remove("hidden");
        } else {
            whatsappButton.classList.add("hidden")
        }
    })
</script>