---
---
<div class="fixed left-1 bottom-4 md:left-8 md:bottom-8 w-full z-10 hidden" id="whatsapp"> 
<<<<<<< HEAD
    <a href="https://wa.me/523222940241?text=Hola,%20estoy%20interesado%20en%20reservar%20condo%20la%20familia" target="_blank" class="text-white border border-2 py-3 px-6 text-xl font-bold bg-[#144bab] hover:bg-white hover:text-[#144bab]"><i class="fa-regular fa-calendar px-1"></i> RESERVE</a>
=======
    <a href="tel:+523222940241" class="text-white border border-2 py-3 px-6 text-xl font-bold bg-[#144bab] hover:bg-white hover:text-[#144bab]"><i class="fa-regular fa-calendar px-1"></i> BOOK</a>
>>>>>>> f15247fe0a9c9319671e2067a251ad3f9efe7638
</div>
