---
import type { CollectionEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import LastBlogs from '../components/LastBlogs.astro';


type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
		<Layout title='Condo la familia'>
		<main>
			<article class="w-full mx-auto">
				<div class="">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" class="w-full lg:h-[70vh] h-50vh object-cover mb-10" />}
				</div>
				<div class="container w-11/12 max-w-[1100px] mx-auto lg:mt-12 mt-10">
					<div class="title text-center max-w-[900px] mx-auto">
						<div class="tracking-wide text-lg font-light">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on text-xl">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-5xl font-bold mb-6 text-[#144bab] mt-6">{title}</h1>
						<hr />
					</div>
					<div class="py-10">
						<slot />
					</div>
				</div>
			</article>

			<LastBlogs/>
	
			<!-- contact -->
			<section class="lg:my-32 my-12 container w-11/12 mx-auto" id="contacto">
				<div class="flex gap-5 flex-col md:flex-row">
					<div class="md:w-1/3 text-center md:text-left">
						<h2 class="text-[#144bab] font-bold text-5xl mb-6">
							Contact
						</h2>
						<p class="text-xl">
							Do you have any question? Send us a message and we will
							contact you
						</p>
						<ul class="text-xl flex gap-4 flex-col mt-5 mb-12">
							<p class="font-bold">Owner: Ricardo</p>
							<a href="tel:+523222940241">
								<li>
									<i class="fa-solid fa-phone text-[#144bab] text-2xl"></i> +52 322 294 0241
								</li></a>
							<p class="font-bold">
								Property Manager / Administrador
							</p>
							<a href="tel:+523221175716">
								<li>
									<i class="fa-solid fa-phone text-[#144bab] text-2xl"></i> +52 322 117 5716
								</li>
							</a>
						</ul>
					</div>
					<div class="md:w-2/3">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d59690.27877457118!2d-105.4927425!3d20.7652824!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjDCsDQ2JzIyLjIiTiAxMDXCsDMxJzMxLjEiVw!5e0!3m2!1sen!2smx!4v1697844014495!5m2!1sen!2smx"
							width="100%"
							height="450"
							style="border:0;"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</section>

		</main>
		</Layout>
</html>
